table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
  }
  
  td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
  }

  @media screen and (max-width: 500px) {
      table {
        width: 70%;
      }
}


  
 